html
  head
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet")
    style
      include css.css
    title= title
  body
    content
      h1 Circle-A-Word
      main!= html
      div#explaination
        div
          | Specify your own grid
          pre.
            const grid = [
              'dboilingpointo',
              'irganoxidation',
              'sfreeradicalnd',
              'tdnuopmocniopi',
              'iccocvkmohinhc',
              'leaebeaiotmooa',
              'llittrtlathitc',
              'aumoasameaatoi',
              'tcnauliclnecle',
              'iesbtlyooscayl',
              'olmnbtgsarkesc',
              'nosuoeehildriu',
              'cmstniprasrysn',
              'chemicalbondhy',
            ];
        div#spacer
        div
          | And your own words
          pre.
            const words = [
              'Alkali',
              'atom',
              'boiling point',
              'catalysis',
              'chemical bond',
              'combustion',
              'compound',
              'distillation',
              'free radical',
              'halogen',
              'hydrocarbon',
              'ions',
              'ketone',
              'matter',
              'molecule',
              'nucleic acid',
              'oxidation',
              'phase',
              'photolysis',
              'reaction',
              'sublimation',
              'valence',
            ];
      footer Ben Simpson &middot; 2020 &middot; 
        a(href="https://github.com/bsimpson/circle_a_word") Check out this project on Github